<div class="title">
  <h3 class="text-center">Админ-панель</h3>
</div>

<div class="container">

  <div class="row justify-content-evenly">

    <div class="col-5 admin_form">

      <div class="row d-flex flex-wrap justify-content-between align-items-center border-bottom" ng-repeat="c in categoryPage.content">

        <div class="col-5">
          <a type="button" ng-click="showPageByCategory(c.title)">
            <h6>{{c.title}}</h6>
          </a>
        </div>
        <div class="col-3">
          <button class="btn btn-primary">Изменить</button>
        </div>

        <div class="col-3">
          <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalCategoriesDeleteForm{{c.id}}">
            Удалить
          </a>
        </div>

        <div class="modal fade" id="ModalCategoriesDeleteForm{{c.id}}" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <button id="delete" type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="myform bg-dark">
                  <h1 class="text-center">Подтверждение удаления {{c.title}}</h1>
                  <button type="button" class="btn btn-light mt-3" ng-click="deleteCategory(c.id)">Удалить</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex flex-wrap justify-content-center mt-3">
        <button class="btn btn-dark">Создать</button>
      </div>

    </div>

    <div class="col-5 admin_form">

      <div class="row d-flex flex-wrap justify-content-between align-items-center border-bottom" ng-repeat="p in productsPage.content">

        <div class="col-5">
          <h6>{{p.title}}</h6>
        </div>

        <div class="col-3">
          <button class="btn btn-primary">Изменить</button>
        </div>

        <div class="col-3">
          <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#ModalProductDeleteForm{{p.id}}">
            Удалить
          </a>
        </div>

        <div class="modal fade" id="ModalProductDeleteForm{{p.id}}" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <button id="deleteProduct" type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="myform bg-dark">
                  <h1 class="text-center">Подтверждение удаления {{p.title}}</h1>
                  <button type="button" class="btn btn-light mt-3" ng-click="deleteProduct(p.id, p.categoryTitle)">Удалить</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="d-flex flex-wrap justify-content-center mt-3">
        <button class="btn btn-dark">Создать</button>
      </div>

    </div>

  </div>

</div>
</div>